body {
    background-color: #28230A;
    color: #b6b29e;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 1000px;
    margin: auto;
}

.topRow {
    margin-top: 5%;
}

.titleContainer,
.imageContainer,
.inputContainer {
    float: left;
    width: 50%;
}

h1 {
    font-size: 110px;
    font-weight: 900;
    text-align: center;
    padding: 5% 0%;
}

img {
    max-width: 100%;
    display:block;
    margin: auto;
}

.input {
    color: #28230A;
    background-color: #b6b29e;
    border: 0.25em solid #b6b29e;
    border-radius: 1em;
}

h2 {
    background-color: #28230A;
    color: #b6b29e;
    padding: 3% 0px 2% 3%;
    border-radius: 0.75em 0.75em 0em 0em;
    font-weight: 900;
}

.search {
    background-color: #28230A;
    color: #b6b29e;
    margin: 2% 0% 0% 0%;
    padding: 2% 0%;
    border-radius: 0em 0em 0.75em 0.75em;
    font-weight: 900;
    width: 100%;
}

.largeTextbox {
    padding: 2% 3% 0% 3%;
    width: 94%;
}

.searchTextbox {
    width: 100%;
}

.textbox {
    width: 100%;
}

.smallTextbox {
    padding: 2% 3% 0% 3%;
    width: 44%;
    float: left;
}

.bottomRow {
    padding-top: 3%;
    clear: both;
}

.outputContainer {
    color: #28230A;
    background-color: #b6b29e;
    border: 0.25em solid #b6b29e;
    border-radius: 1em;
}

ul+ul {
    border-top: 2px solid #28230A;
}

ul {
    list-style: none;
    display: table;
    width: 100%;
}

li {
    display: table-cell;
    width: 23%;
    padding: 1% 0% 1% 2%;
}

.headerList {
    background-color: #28230A;
    color: #b6b29e;
    padding-top: 1.5%;
    border-radius: 0.75em 0.75em 0em 0em;
    font-weight: 900;
}